<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head"></head>
<body>
<div class="wrapper">

    <header th:replace="fragments::header"></header>

    <div class="page-wrap">
        <div th:replace="fragments::sidebar"></div>
        <div class="main-content">
            <div class="container-fluid">
                <div class="row clearfix">
                        <div class="widget">
                            <div class="container">
                                <h1 class="mt-4 mb-4">Product Form</h1>
                                <form class="forms-sample" method="post" th:action="@{save}" th:object="${Product}" onsubmit = "return myValidation();">


                                    <div class="form-row">
                                        <input type="text" th:field="*{id}" hidden/>
                                        <div class="form-group col-sm-4">
                                            <label for="name">Name*</label>
                                            <input type="text" id="name" th:field="*{name}" class="form-control" name="name"
                                                   placeholder="Package Name" onfocus="clearError();"/>
                                            <span id="codeError" style="display:none" class="text-danger"></span>
                                            <span th:if="${#fields.hasErrors('name')}" class="text-danger"  th:errors="*{name}"></span>
                                        </div>

                                        <div class="form-group col-sm-4">
                                            <label for="category">Category*</label>
                                            <select th:each="category : ${Categories}" id="category" name="category">
                                                <option th:value="${category.getId()}" th:text="${category.getName()}"></option>
                                            </select>
                                            <span id="categoryError" style="display:none" class="text-danger"></span>
                                            <span th:if="${#fields.hasErrors('category')}" class="text-danger"  th:errors="*{category}"></span>
                                        </div>

                                        <div class="form-group col-sm-4">
                                            <label for="brand">Brand*</label>
                                            <select th:each="brand : ${Brands}" id="brand" name="brand">
                                                <option th:value="${brand.getId()}" th:text="${brand.getName()}"></option>
                                            </select>
                                            <span id="brandError" style="display:none" class="text-danger"></span>
                                            <span th:if="${#fields.hasErrors('brand')}" class="text-danger"  th:errors="*{brand}"></span>
                                        </div>
                                    </div>


                                    <div class="form-row">
                                        <div class="form-group col-sm-4">
                                            <label for="buyingPrice">Buying Price*</label>
                                            <input type="number" id="buyingPrice" th:field="*{buyingPrice}" class="form-control" name="buyingPrice"
                                                   placeholder="Buying Price" onfocus="clearError();"/>
                                            <span id="buyingPriceError" style="display:none" class="text-danger"></span>
                                            <span th:if="${#fields.hasErrors('buyingPrice')}" class="text-danger"  th:errors="*{buyingPrice}"></span>
                                        </div>

                                        <div class="form-group col-sm-4">
                                            <label for="sellingPrice">Selling Price*</label>
                                            <input type="number" id="sellingPrice" th:field="*{sellingPrice}" class="form-control" name="sellingPrice"
                                                   placeholder="Selling Price" onfocus="clearError();"/>
                                            <span id="sellingPriceError" style="display:none" class="text-danger"></span>
                                            <span th:if="${#fields.hasErrors('sellingPrice')}" class="text-danger"  th:errors="*{sellingPrice}"></span>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-sm-4">
                                            <label for="description">Description*</label>
                                            <input type="text" id="description" th:field="*{description}" class="form-control" name="description"
                                                   placeholder="Product Description" onfocus="clearError();"/>
                                            <span id="descriptionError" style="display:none" class="text-danger"></span>
                                            <span th:if="${#fields.hasErrors('description')}" class="text-danger"  th:errors="*{description}"></span>
                                        </div>
                                    </div>



                                    <div class="form-group">
                                        <div class="col-md-12 text-right">
                                            <input type="submit" value="Save" class="btn btn-primary btn-lg mt-4 mb-4"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                </div>
            </div>
            <span class="alert alert-primary">Fields marked with * are mandatory</span>
            <br><br><br>
            <span id="errorMessage" class="text-danger"></span>
        </div>

        <aside th:replace="fragments::rightSidebar"></aside>
        <div class="chat-panel" hidden th:replace="fragments::ChatModule"></div>
        <div th:replace="fragments::footer"></div>
    </div>
</div>

<script type="text/javascript">
function myValidation()
{
   isValidated = true;

   if(document.forms[0].code.value == ""){
    document.getElementById('codeError').style.display = 'block';
    document.getElementById('codeError').innerHTML = 'Please Enter Code!';
    isValidated = false;
   }
   if(document.forms[0].name.value == ""){
    document.getElementById('nameError').style.display = 'block';
    document.getElementById('nameError').innerHTML = 'Please Enter Name FROM JS!';
    isValidated = false;
   }
   if(document.forms[0].branchName.value == ""){
   document.getElementById('branchNameError').style.display = 'block';
    document.getElementById('branchNameError').innerHTML = 'Please Enter Branch Name FROM JS!';
    isValidated = false;
   }
   if(document.forms[0].mobile.value == ""){
   document.getElementById('mobileError').style.display = 'block';
    document.getElementById('mobileError').innerHTML = 'Please Enter Mobile Number FROM JS!';
    isValidated = false;
   }
   if(document.forms[0].email.value == ""){
   document.getElementById('emailError').style.display = 'block';
    document.getElementById('emailError').innerHTML = 'Please Enter Email From JS!';
    isValidated = false;
   }
   if(document.forms[0].address.value == ""){
   document.getElementById('addressError').style.display = 'block';
    document.getElementById('addressError').innerHTML = 'Please Enter Address From Javascript!';
    isValidated = false;
   }

   return isValidated;

}
function clearError(){
document.getElementById('errorMessage').innerHTML = '';
}


</script>

</body>
</html>